.custom-table {
  margin-top: 20px;
}

.form-container {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-control {
  border: 2px solid #ced4da;
}

.btn-primary-custom {
}

/* options.css */
.custom-table .action-cell {
  display: flex;
  justify-content: center;
  align-items: center;
}
.custom-toast-style {
  width: 100%;
  max-width: 500px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  z-index: 1050;
}
